<!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{{ dynamicTitle }}} </title>
	<link rel="stylesheet" href="./assets/css/master.css" />
</head>
<body>
	{{{ body }}}
</body>
</html>